/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #0c455a;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 98.6%; /* Full width */
  height:4rem;
}
.logo{
  height:100%;
  margin-left:1rem;
}
.navbar a {
  padding: 14px 16px;
}

/* Main content */


/* Login page*/
.login{


}
.login-bgi{

}
.ask-login{
  text-align:center;

}
.ask-login-form{
  background-color: rgba(255, 255, 255,0.8);
  position:relative;
  left:59.5em;
  top:20em;
  height:100px;
  width:30%;
}
/*Background work */

.bckgrnd-img{
  width: 98.6%;
  position:fixed;
  margin-top:2.5rem;
}

.fill-up{
  position:relative;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left:40px;
  margin-top:20px;
  width:40%;
  height:1000px;
}


/*Form entry*/
.head{
  font-size:30px;
  margin-bottom:0;
  padding-top:20px;
}

.horizontal{
  width:75%;
  margin-top:0;
  border:0;
  height:30px;
  border-top:solid 0.5px #999999;
}

.fill-details{
  margin-left:30px;
}

.input{
  margin:20px;
}

.form-text{
  font-weight:bold;
  position:relative;
  margin-left:30px;
  opacity:1;
}

.select{
  left:20px;
  width:45%;
}

.red-star{
  color:red;
}

.form-input{
  opacity:1;
  position:relative;
  margin-left:130px;
  width:50%;
}
