/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #0c455a;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 98.6%; /* Full width */
  height:4rem;
}
.logo{
  height:100%;
  margin-left:1rem;
}
.navbar a {
  padding: 14px 16px;
}

/* Main content */


/* Login page*/
.login{
background-color: rgba(255, 255, 255,0.8);
margin-top:0;
text-align:center;
}
.login-logo{
  height:3.5rem;
  margin-bottom:0;
}
.ask-login{
  text-align:center;
  margin-bottom:0;
}

.login-input{

  width: 60%;
  margin-top:1.5rem;
  border-radius: 6px;
  border-width:thin;
  height: 2rem;
}
.ask-login-form{
  background-color: #0c455a;
  position:relative;
  left:59.5em;
  top:18em;
  height:3.5rem;
  width:30%;
}

.submit-button{
  height:1.8rem;
  margin-bottom:3rem;
  margin-top:2rem;
  border-radius:6px;
  border-width:thin;
  background-color:#0c455a;
  color:white;
  width:25%;
  transition-duration:0.2s;
}
.submit-button:hover{
  background-color:#126887;
}
/*Background work */

.bckgrnd-img{
  width: 98.6%;
  position:fixed;
  margin:0;
  margin-top:3.5rem;
}
.bckgrnd{
  padding-top:3rem;
}
.fill-up{
  position:relative;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left:32px;
  width:40%;
  height:1000px;
  margin-top:3rem;
}


/*Form entry*/
.head{
  font-size:30px;
  margin-bottom:0;
  padding-top:20px;
}

.horizontal{
  width:75%;
  margin-top:0;
  border:0;
  height:30px;
  border-top:solid 0.5px #999999;
}

.fill-details{
  margin-left:30px;
}

.input{
  margin:20px;
}

.form-text{
  font-weight:bold;
  position:relative;
  margin-left:30px;
  opacity:1;
}

.select{
  left:20px;
  width:45%;
}

.red-star{
  color:red;
}

.form-input{
  opacity:1;
  position:relative;
  margin-left:130px;
  width:50%;
}
.tag-line{
  height:1.5rem;
}
